<html>
<%= head %>
<body>
  <div id='page'>

    <%= header %>
  
    <br/>
  
    <form action='/account/login-form' method='post'>
      <div>
        Username: <input name='username' />
      </div>
      <div>
        Password: <input name='password' />
      </div>
      <div>
        <input type='submit' name='submit'/>
      </div>
    </form>
  </div>
</body>
</html>
