<div class='section'>
  Please enter your username, password, and email to sign up.
  <br/>
  <br/>

  <form action='/account/sign-up-form' method='post'>
    <div>
      Username: <input class='big' name='username' />
    </div>
    <div>
      Email: <input class='big' name='email' />
    </div>
    <div>
      Password: <input class='big' name='password' type='password' />
    </div>
    <div>
      Confirm Password: <input class='big' name='confirm_password' type='password' />
    </div>
    <br/>
    <div>
      <input type='submit' name='submit'/>
    </div>
  </form>
</div>
