<html>
<%= head %>
<body>
  <div id='page'>
    <%= header %>

    <br/>

    <form action='/account/sign-up-form' method='post'>
      <div>
        Username: <input name='username' />
      </div>
      <div>
        Email: <input name='email' />
      </div>
      <div>
        Password: <input name='password' type='password' />
      </div>
      <div>
        <input type='submit' name='submit'/>
      </div>
    </form>
  </div>
  
</body>
</html>
