<div id='header'>
  <a href='/'><img src='/images/signs.gif' height='45' /></a>
  <div class='name'>
    <a href='/'>PicketLine</a>
  </div>
  <div class='account'>
  	<% if user %>
  	  <a href='/user/<%= user[:username] %>'><%= user[:username] %></a>
  	  |
  	  <a href='/account/sign-out'>Sign Out</a>
  	<% else %>
  	  <a href='/account/log-in'>Log In</a>
  	<% end %>
  </div>
</div>
