<html>
<%= head %>
<body>
  <div id='page'>
    <%= header %>
    welcome to picketline

    <a href='/company/search'>Company Search</a>

    <a href='/company/create'>Add a Company</a>
  </div>
</body>
</html>
