<div id='blurb'>
  <h2>Welcome to picketline</h2>
  <br>
  <div>
    Spread and inspire boycotts - create a link between corporate ethicality and profitability.
  </div>
  <br/>
  <div>
    Inspire your friends, family and community to support your boycott - or find out what everyone else is boycotting and why. 
  </div>
  <br/>
  <div>
    Learn about unethical corporate behavior and help make that behavior unprofitable.
  </div>
  <br/>
  <div style='text-align: center;'>
    <a class='button' href='/account/sign-up'>Sign Up</a>
  </div>
</div>
<div id='right'>
  <h3>Search Companies</h3>
  <form method='get' action='/company/search'>
    <input name='term'/>
    <input type='submit' name='Submit' />
  </form>
</div>
