<html>
<%= head %>
<body>
  <div id='page'>
    <%= header %>
    <h3>Welcome to PicketLine</h3>
    <br>
    <a class='button' href='/account/sign-up'>Sign Up</a>
    <br>
  
    <a href='/company/search'>Company Search</a>
  </div>
</body>
</html>
