<html>
<%= head %>
<body>
  <%= header %>
  
  <br/>
  
  <form action='sign-up-form' method='post'>
    <div>
      Username: <input name='username' />
    </div>
    <div>
      Email: <input name='email' />
    </div>
    <div>
      Password: <input name='password' />
    </div>
    <div>
      <input type='submit' name='submit'/>
    </div>
  </form>
  
  
</body>
</html>
