<html>
<%= head %>
<body>
  <%= header %>
  
  Add a Company to PicketLine
  
  <form method='post' action='/company/create-form'>
    <div>
      Name: <input name='name'/>
    </div>
    <div>
      <input type='submit' Name='Submit' />
    </div>
  </form>
  
</body>
</html>
